{% extends 'base.html' %}
{% block title %}{{user.get_full_name()}}{% endblock %}

{% block content %}

<div class="card">
    <div class="card-body">
      <h1 class="card-title">{{user.get_full_name()}}</h1>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Username: {{user.username}}</li>
      <li class="list-group-item">Email: {{user.email}}</li>
    </ul>
    <div class="card-body">
        <form action="/users/{{user.username}}/delete" method="POST">
            <a href="/users/{{user.username}}/feedback/add" class="btn btn-success">Add Feedback</a>
            <button class="btn btn-danger">Delete User</button>
        </form>
    </div>
</div>
    {% for feedback in user.feedback %}
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{feedback.title}}</h3>
            <p class="card-text">{{feedback.content}}</p>
            
            <form action="/feedback/{{feedback.id}}/delete" method="POST">
                <a href="/feedback/{{feedback.id}}/update" class="btn btn-sm btn-success">Edit</a>
                <button class="btn btn-sm btn-danger">Delete</button>
            </form>
        </div>
    </div>
    {% endfor %}
{% endblock %}